body {
    font-family: Bomber balloon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cfb6b6;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #7ca3df;
    color: rgb(26, 15, 151);
    border-radius: 5px;
}

button:active {
    transform: scale(0.95);
}

#startStop {
    background-color: #4CAF50;
    color: white;
}

#reset {
    background-color: #f44336;
    color: white;
}

#sessions {
    margin-top: 20px;
    font-size: 18px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-top: 20px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

