body {
    font-family: Palatino;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dc9b9b;
    margin: 0;
}

.container {
    text-align: center;
}

#timer {
    font-size: 48px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #dce7f4;
    color: rgb(8, 3, 58);
    border-radius: 5px;
}

button:hover {
    background-color: #dce7f4;
}
