body {
    font-family: Bomber balloon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cfb6b6;
    margin: 0;
}

.container {
    text-align: center;
}

#timer {
    font-size: 55px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #7ca3df;
    color: rgb(26, 15, 151);
    border-radius: 5px;
}

button:hover {
    background-color: #7ca3df;
}
